@{
    ViewData["Title"] = "Insere Cliente";
}

<h1>INSERIR CLIENTE</h1>

<form>
  <div class="mb-3">
    <label for="nome" class="form-label">Nome do Cliente</label>
    <input type="text" class="form-control" id="nome">
    
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="mb-3">
    <label for="telefone" class="form-label">Telefone</label>
    <input type="text" class="form-control" id="telefone">
  </div>
  
  <a role="button" class="btn btn-primary">SALVAR</a>
</form>